name: build CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Win_jorb:
    runs-on: windows-latest
    strategy:
      matrix:
        build_config: ['Debug', 'Release']
        arch: ['x64', 'Win32']
    defaults:
      run:
        shell: cmd
    env:
      VULKAN_SDK: ${{ github.workspace }}\VulkanSDK

    steps:
    - uses: actions/checkout@v2
      with:
        repository: 'krOoze/vk_sdk_lite'
        path: ${{ env.VULKAN_SDK }}
        ref: windows
        persist-credentials: false
    - uses: actions/checkout@v2
      with:
        path: 'source'
        submodules: 'recursive'
        persist-credentials: false
    - run: md source\build
    - run: cmake -G "Visual Studio 16 2019" -A ${{ matrix.arch }} ..
      working-directory: source\build
    - run: cmake --build . --config ${{ matrix.build_config }}
      working-directory: source\build
    - uses: actions/upload-artifact@v1
      with:
        name: Hello Vulkan Triangle -- Windows ${{ matrix.build_config }}
        path: source\build\${{ matrix.build_config }}\HelloTriangle.exe

  linux_jorb:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_config: ['Debug', 'Release']
    defaults:
      run:
        shell: bash
    env:
      VULKAN_SDK: ${{ github.workspace }}/VulkanSDK/x86_64

    steps:
    - uses: actions/checkout@v2
      with:
        repository: 'krOoze/vk_sdk_lite'
        path: 'VulkanSDK'
        ref: linux
        persist-credentials: false
    - run: echo "::add-path::${{ env.VULKAN_SDK }}/bin"
    - run: echo $VULKAN_SDK && echo $PATH
    - run: sudo apt update && sudo apt install xorg-dev
    - uses: actions/checkout@v2
      with:
        path: 'source'
        submodules: 'recursive'
        persist-credentials: false
    - run: mkdir -p source/build
    - run: cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_config }} -G "Unix Makefiles" ..
      working-directory: source/build
    - run: cmake --build .
      working-directory: source/build
    - uses: actions/upload-artifact@v1
      with:
        name: Hello Vulkan Triangle App -- Linux ${{ matrix.build_config }}
        path: source/build/HelloTriangle
